body{
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: darkslategray;  
}

.carousel-item{
  
  width: 100%;
  height: 100vh;
}
.carousel-caption{
  margin-bottom: 50vh;
}




.col-lg-4{
  padding: 0%;
  margin: 0%;
  height: 50vh;
  border: 1px solid;
}


