.col-sm-4{
        
    width: 40%;
    height: 200px;
    border: 2px  inset;
  
    

}
.col-sm-8{
    width: 60%;
    height: 200px;
    border: 2px  inset;
  
   
}
.col-sm-6{
    width: 50%;
    height: 100px;
    border: 2px inset;
    

   
}
.row{
    
}
.container-fluid{
width: 95%;
margin: 2%;
border: 2px inset;
border-bottom: 2px inset;

}